<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>I'm Angus.  I build communities and generate enthusiasm. </h2>
        <p class="lead"> I have taken the path less traveled, starting out at a triple-A video game studio before working on high performance computing in the world of academia,
           ending up working on the blockchain scene in London via some live science shows and some teaching of cyber security.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
