<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="http://blockchainbeg.in/">
                <img class="img-portfolio img-responsive" src="img/6.webp">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://itunes.apple.com/gb/podcast/not-another-crypto-podcast-1/id1436712710?i=1000420042551">
                <img class="img-portfolio img-responsive" src="img/nacp.webp">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/doc/AngusMaidmentCV.pdf">
                <img class="img-portfolio img-responsive" src="img/resume.webp">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.meetup.com/EOSLONDON/">
                <img class="img-portfolio img-responsive" src="img/eos.webp">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
